<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <queries>
        <package android:name="com.corrodinggames.rts" />
        <package android:name="io.github.endx.rwpatch" />
    </queries>

    <application
        android:allowBackup="false"
        android:allowNativeHeapPointerTagging="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:description="@string/module_description"
        android:hasCode="true"
        android:fullBackupContent="false"
        android:icon="@drawable/ic_loader"
        android:label="@string/module_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault.NoActionBar">

        <activity
            android:name=".ui.ModManagerActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/vnd.rustedfabric.mod" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/vnd.rustedfabric.mod" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.JvmLauncherActivity"
            android:exported="false" />

        <activity
            android:name=".ui.JvmRenderActivity"
            android:exported="false"
            android:hardwareAccelerated="false"
            android:process=":desktop_jvm"
            android:screenOrientation="landscape" />

        <service
            android:name=".jvm.JvmHostService"
            android:exported="false"
            android:process=":desktop_jvm"
            android:stopWithTask="true" />

        <provider
            android:name=".storage.ModContentProvider"
            android:authorities="${applicationId}.mods"
            android:exported="true"
            android:grantUriPermissions="false"
            tools:ignore="ExportedContentProvider" />

        <receiver
            android:name=".patch.PatchInstallReceiver"
            android:exported="false" />
    </application>
</manifest>
